/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
    padding: 0 20px;
}

h1,
h2,
h3 {
    color: #eeeef1;
}

h2,
h3 {
    color: #0a0a89;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 10px 0;
}

/* Layout styles */
header {
    background-color: #00509e;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

header img {
    max-width: 00px;
    /* Control image size */
    height: auto;
}

.header-content {
    text-align: left;
    flex-grow: 1;
}

header h1 {
    margin-bottom: 10px;
}

nav {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

nav a {
    color: #fff;
    font-weight: bold;
}

code {
    background-color: #e8e2e2;
    padding: 3px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
}

footer p {
    margin: 10px 0;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #00509e;
    cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }
}